.button{
	-fx-font-size: 25px;
	-fx-font-weight: bold;
	-fx-font-family: Impact;
	-fx-background-color: #29e843;
	-fx-background-radius: 10px;
	-fx-background-insets: 0;
	-fx-padding: 10px;
	-fx-border-radius: 10px;
	-fx-border-color: #ffffff;
	-fx-border-width: 2px;
	-fx-border-insets: 0;
	-fx-effect: dropshadow(three-pass-box, rgb(36, 236, 92), 10, 0, 0, 0);

}

.root{
	-fx-background-color: #ffffff;
	-fx-background-radius: 10px;
	-fx-background-insets: 0;
	-fx-padding: 10px;
	-fx-border-radius: 10px;
	-fx-border-color: #ffffff;
	-fx-border-width: 2px;
	-fx-border-insets: 0;
	-fx-effect: dropshadow(three-pass-box, rgb(36, 236, 92), 10, 0, 0, 0);
}

.text-field{
	-fx-font-size: 20px;
	-fx-pref-width: 200px;
	-fx-font-weight: bold;
	-fx-font-family: Impact;
	-fx-background-color: #ffffff;
	-fx-prompt-text-fill: #8c8c8c;
	-fx-background-radius: 10px;
	-fx-background-insets: 0;
	-fx-padding: 10px;
	-fx-border-radius: 10px;
	-fx-border-color: #ffffff;
	-fx-border-width: 2px;
	-fx-border-insets: 0;
	-fx-effect: dropshadow(three-pass-box, rgb(36, 236, 92), 10, 0, 0, 0);
}


.root {
	-fx-font-size: 14px;
	-fx-font-family: sans-serif;
	-fx-background-color: #ffffff;
}

.vbox{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
	-fx-padding: 10px;
	-fx-spacing: 10px;
	-fx-animated: true;
	-fx-background-color: linear-gradient(to bottom, #b852fa, #29e843);
	-fx-background-radius: 10px;
	-fx-background-insets: 0;
	-fx-border-radius: 10px;
	-fx-border-color: #ffffff;
	-fx-border-width: 2px;
	-fx-border-insets: 0;
}

